@import 'materialize.scss';
@import '_map.scss';

/* Main styles */

p {
    font-size: 16px;
}

h1 {
    font-size: 22px;
}

#location-filter {
    position: absolute;
    top: 0px;
    left: 10px;
    .title {
        border: 4px solid #dedede;
        opacity: .7;
        background-color: white;
    }
    .input-field {

    }
}

#location-list {
    height: 380px;
    position: absolute;
    left: 10px;
    top: 80px;
    border: 4px solid #dedede;
    background-color: white;
    opacity: .7;
    overflow-y: scroll;
    li {
        border: 4px solid #dedede;
        margin: 1px;
        padding: 1px;
    }
    .location-name {
        font-weight: bold;
    }
}

.info-window {
    max-height: 200px;
    h3 {
        font-size: 1.2em;
    }
}

@media(max-width: 600px) {
    h1 {
        font-size: 18px;
    }
    #location-list {
        height: 200px;
        top: 95px;
    }
}

@media(min-width: 600px) {
    #location-list {
        top: 105px;
    }
}
